table {
  border-collapse: collapse;
  width: 100%;
}

table, tr, th, td {
  border-bottom: 1px solid;
}

th, td {
  padding: 5px;
  text-align: left;
}

th {
  background-color: dimgray;
  color: white;
}

tr:nth-child(even) {
  background-color: lightgray;
} 